@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
@import url(http://fonts.googleapis.com/earlyaccess/amiri.css);
@import url(http://fonts.googleapis.com/earlyaccess/lateef.css); 
@import url(http://fonts.googleapis.com/earlyaccess/scheherazade.css);
@import url(http://fonts.googleapis.com/earlyaccess/thabit.css);

@font-face {
    font-family: 'JF Flat Jozoor';
    src: url('../fonts/text/JF-Flat-regular.eot');
    src: url('../fonts/text/JF-Flat-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/text/JF-Flat-regular.svg#JF Flat Regular') format('svg'),
    url('../fonts/text/JF-Flat-regular.woff') format('woff'),
    url('../fonts/text/JF-Flat-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Ara Jozoor';
	src: url('../fonts/text/AraJozoor-Regular.eot');
	src: local('?'), url('../fonts/text/AraJozoor-Regular.woff') format('woff'), url('../fonts/text/AraJozoor-Regular.ttf') format('truetype'), url('../fonts/text/AraJozoor-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'KFGQPC Uthman Taha Naskh';
    src: url('../fonts/text/UthmanicHafs1Ver09.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PDMS Saleem QuranFont';
    src: url('../fonts/text/PDMS_Saleem_QuranFont-signed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: AmiriWeb;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/text/amiri-regular.eot?') format('eot'),
         url('../fonts/text/amiri-regular.woff') format('woff'),
         url('../fonts/text/amiri-regular.ttf')  format('truetype');
}

@font-face {
    font-family: Amiri QuranWeb;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/text/amiri-quran.eot?') format('eot'),
         url('../fonts/text/amiri-quran.woff') format('woff'),
         url('../fonts/text/amiri-quran.ttf')  format('truetype');
}

@font-face {
    font-family: AmiriWeb;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/text/amiri-bold.eot?') format('eot'),
         url('../fonts/text/amiri-bold.woff') format('woff'),
         url('../fonts/text/amiri-bold.ttf')  format('truetype');
}

@font-face {
    font-family: AmiriWeb;
    font-style: oblique;
    font-weight: 400;
    src: url('../fonts/text/amiri-slanted.eot?') format('eot'),
         url('../fonts/text/amiri-slanted.woff') format('woff'),
         url('../fonts/text/amiri-slanted.ttf')  format('truetype');
}

@font-face {
    font-family: AmiriWeb;
    font-style: oblique;
    font-weight: 700;
    src: url('../fonts/text/amiri-boldslanted.eot?') format('eot'),
         url('../fonts/text/amiri-boldslanted.woff') format('woff'),
         url('../fonts/text/amiri-boldslanted.ttf')  format('truetype');
}
